@import url(../css/reset.css);
.wrap{
    margin: 0 auto;
    padding-bottom: 100px;

}
.hamasi{
    display: flex;
}
.block1{
    width: 1142px;
    height: 83px;
    background-color: #bdd5ed;
   font-size: 45px;
   font-weight: bold;
   line-height: 70px;
   margin-bottom: 5px;
   margin-top: 50px;
   margin-left: 50px;
   text-align: center;
}
.a1{
color: blue; 
font-weight: bold;   
}
.qator1{
    width: 280px;
    height: 280px;
    background-color: #bdd5ed;
    margin-left: 50px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
    font-weight:500;
    

}
.a2{
    color: blue;
    font-weight: bold;
}
.qator2{
    width: 280px;
    height: 280px;
    background-color: #bdd5ed;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}
.a3{
    color:blue;
    font-weight: bold;
}
.qator3{
    width: 280px;
    height: 280px;
    background-color: #bdd5ed;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}
.a4{
    color: blue;
    font-weight: bold;
}
.qator4{
    width: 287px;
    height: 280px;
    background-color: #bdd5ed;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}
.a5{
    color: blue;
    font-weight: bold;
}
.hamasi2{
    display: flex;
}
.text1{
    width: 568px;
    height: 300px;
    background-color: #bdd5ed;
    margin-left:50px;
    margin-bottom: 5px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 35px;
}


